.app .head {
  text-align: center;
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  border-bottom: 1px solid grey;


}

.navbar .nav-link {
  padding: 10px 15px;
  margin: 15px;
  background-color: red;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.counter {
  text-align: center;
  margin-top: 100px;

}

.counter h1 {
  text-align: center;
}

.btn {
  padding: 10px 15px;
  margin: 15px;
  background-color: blue;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container .form-group {
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  margin-bottom: 7px;
}

.form-container input {
  padding: 8px 15px;
}

.form-container .btn-submit {
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
}


/* table list  */
.table {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 80%;
  margin: auto;
}

.table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
}

.search_input {
  display: block;
  margin: 100px auto 30px;
  width: 300px;
  padding: 12px;
}